
.product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-form input {
  width: 50px;
  margin-bottom:.5rem;
}

.product-form button {
  font-size: 14px;
  border-radius: 20px;
  color:#fff;
  background: #008E43;
}

.actions {
  display: flex;
  align-items: center;
}
