.product-wrapper {
  width: 100%;
  border-bottom: 1px solid #e5e5e5be;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}


.product h2 {
  font-size: 16px;
}

.product-info {
  font-size: 14px;
} 

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}
