.actions {
  display: flex;
  align-items: center;
}

.info {
  padding:.5rem;
  width: 30px;
  height: 30px;
  background:#ffc107;
  color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
}

.add {
  padding:.5rem;
  width: 30px;
  height: 30px;
  background: #28a745;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.increment {
  width:30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0397D8;
  padding:.5rem;
  border-radius: 50%;
  color:#fff;
}

.decrement {
  background: #dc3545;
  font-size: 14px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:.5rem;
  border-radius: 50%;
  color:#fff;
}

.amount {
  margin-right: .5rem;
  margin-left:.5rem;
  width: 50px;
}