.container {
  display: flex;
}

.form {
  display: flex;
  margin-bottom:1rem;
}

.inputs-container {
  display: flex;
}

.inputs-container input {
  margin-left: 5px;
  margin-right: 5px;
  width: 25%;
}

.new-sell { 
  color: #fff;
  background:#17a2b8;
  font-size:14px;
}

.bill {
  height: 200px;
  overflow: auto;
}

.delete {
  background: #dc3545;
  color:#fff;
  font-size: 14px;
}

.payment {
  margin-top: .5rem;
  border: 2px solid #e5e5e5be;
  padding: 1rem;
}