.container {
  display: flex;
}

.form {
  display: flex;
  margin-bottom:1rem;
}

.products {
  height: 400px;
  overflow: auto;
}

.inputs-container {
  display: flex;
}

.inputs-container input {
  margin-left: 5px;
  margin-right: 5px;
  width: 25%;
}

.search {
  color:#fff;
  background: #52B68C;
  margin-left: .5rem;
  font-size: 14px;
}

.table {
  border-collapse: collapse;
}

th, td {
 border: 2px solid #e5e5e5be;
}

.info {
  background:#ffc107;
  color: #000;
}

.add {
  background: #28a745;
  color: #fff;
}

.new-sell { 
  color: #fff;
  background:#17a2b8;
  font-size:14px;
}

.bill {
  height: 200px;
  overflow: auto;
}

.delete {
  background: #dc3545;
  color:#fff;
  font-size: 14px;
}

.payment {
  margin-top: .5rem;
  border: 2px solid #e5e5e5be;
  padding: 1rem;
}